{% extends 'base.html.twig' %}

{% block body %}
    <table style="width: 70%">
        <tr>
            <th style="width:250px">Car</th>
            <th style="width:250px">Autoservice</th>
            <th style="width: 250px">Accepted/Pending/Declined</th>
        </tr>
        <tr>
            <td>Car1</td>
            <td>Autoservice1</td>
            <td style="color: green">Accepted</td>
            <td><button class="btn"style="background-color: red;cursor: not-allowed;">Decline</button></td>
        </tr>
        <tr>
            <td>Car1</td>
            <td>Autoservice1</td>
            <td style="color: yellow">Pending</td>
            <td><button class="btn"style="background-color: red"onclick="location.href = '{{ path('cancelreservation') }}'">Decline</button></td>
        </tr>
        <tr>
            <td>Car1</td>
            <td>Autoservice1</td>
            <td id="Canceled" style="color: red">Canceled</td>
            <td><button class="btn"style="background-color: red;"onclick="location.href = '{{ path('cancelreservation') }}'">Decline</button></td>
        </tr>
    </table>
{% endblock %}