{% extends 'base.html.twig' %}

{% block body %}

    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
              x.style.visibility="visible";
        }
    </script>
    <div class="dropdown"id="carserviceDropDown">
        <button class="dropbtn">Select Car</button>
        <div class="dropdown-content"id="carserviceDropDown">
            <a href="#">Car 1</a>
            <a href="#">Car 2</a>
            <a href="#">Car 3</a>
        </div>
    </div>
    <form>
        <label for="comment">Tell us the problem</label>
        <input type="text" id="comment" name="comment" placeholder="Problem...">
    </form>
    <div class="dropdown"id="carserviceDropDown">
        <button class="dropbtn">Problems that we fix</button>
        <div class="dropdown-content"id="carserviceDropDown">
            <a href="#">Problem 1</a>
            <a href="#">Problem 2</a>
            <a href="#">Problem 3</a>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-sm alert-primary" onclick="myFunction()">Search</button>
    </div>
    <div id="myDIV" style="visibility: hidden">
    <table style="width: 70%">
        <tr>
            <th style="width:250px">Autoservice name</th>
            <th style="width:250px">City</th>
            <th style="width:250px">Cost</th>
            <th style="width:250px">Select</th>
        </tr>
        <tr>
            <td>Peter</td>
            <td>Griffin</td>
            <td>$100</td>
            <td><button>a</button></td>
        </tr>
        <tr>
            <td>Lois</td>
            <td>Griffin</td>
            <td>$150</td>
            <td><button>a</button></td>
        </tr>
        <tr>
            <td>Joe</td>
            <td>Swanson</td>
            <td>$300</td>
            <td><button>a</button></td>
        </tr>
        <tr>
            <td>Cleveland</td>
            <td>Brown</td>
            <td>$250</td>
            <td><button>a</button></td>
        </tr>
    </table>
    </div>

{% endblock %}