{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(services) }}
    <div id="default">
        <label>Serviso kategorija:</label> {{ form_widget(services.serviceCategory, {'attr': {'class': 'Job','style' : 'width: 53%'}}) }}</br>
        </br>
        Serviso pavadinimas: {{ form_widget(services.ServiceName, {'attr': {'class': 'Job','style' : 'width: 53%'}}) }}</br>
        </br>
        <button class="btn btn-primary">Registruoti servisą</button>
    </div>
    
    {{ form_end(services) }}


{% endblock %}
