{% extends 'base.html.twig' %}
{% block title %}<title>Prisijungimas</title>{% endblock %}
{% block body %}
    <div class="text-center">
        <form action="{{ path('login') }}" method="POST">
            <div style="position:fixed;right: 40%">
                <h3 style="color: #1b1e21; text-align: center">Prašome prisijungti</h3>
            </div>
            <input type="text"
                   id="_username"
                   name="_username"
                   class="form-control"
                   placeholder="Elektroninis paštas"
                   required autofocus>
            <input type="password"
                   id="_password"
                   name="_password"
                   class="form-control"
                   placeholder="Slaptažodis"
                   required>

            <button class="btn btn-dark" style="position: absolute;top: 47%;width: 20%;left: 42%" type="submit">Prisijungti</button>
        </form>
    </div>

{% endblock %}