{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="text-align: center">
    <div id="default">
    {{ form_start(form) }}
    {{ form_end(form) }}

        <button type="button" class="btn btn-dark" onclick="location.href = '{{ path('currentJobs')}}'">Atgal</button>
    </div>
    </div>
        <div class="col-4"></div>
    </div>


{% endblock %}