{% extends 'base.html.twig' %}

{% block body %}
    <table class="table" align="center">
        <thead class="thead-dark">
        <tr style="border-bottom: 3px solid #ddd;">
            <th scope="col">Service Name</th>
            <th></th>
            <th scope="col">Car</th>
            <th></th>
            <th scope="col">Description</th>
            <th></th>
            <th scope="col">Comments</th>
            <th></th>
            <th scope="col">Status</th>
            <th></th>
            <th scope="col">Details_button</th>
        </tr>
        </thead>
        {#{% for employee in employees %}#}
            {#<tr>#}
                {#<td>{{ employee.firstname }}</td>#}
                {#<td></td>#}
                {#<td>{{employee.lastname}}</td>#}
                {#<td></td>#}
                {#<td>{{employee.email}}</td>#}
                {#<td></td>#}
                {#<td>{{employee.position}}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
    </table>
{% endblock %}