{% extends 'base.html.twig' %}

{% block body %}
    <table id="table-current-jobs"class="table" align="center">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Darbo pavadinimas</th>
            <th></th>
            <th scope="col">Mašina</th>
            <th></th>
            <th scope="col">Informacija</th>
            <th></th>
            <th scope="col">Priimta</th>
            <th></th>
            <th scope="col">Atmesta</th>
            <th></th>
            <th scope="col">Daugiau detalių</th>
        </tr>
        </thead>
        {#{% for employee in employees %}#}
        {#<tr>#}
        {#<td>{{ employee.firstname }}</td>#}
        {#<td></td>#}
        {#<td>{{employee.lastname}}</td>#}
        {#<td></td>#}
        {#<td>{{employee.email}}</td>#}
        {#<td></td>#}
        {#<td>{{employee.position}}</td>#}
        {#</tr>#}
        {#{% endfor %}#}
    </table>
{% endblock %}