{% extends 'base.html.twig' %}

{% block body %}
    <table id="table-current-jobs"class="table" align="center">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Service Name</th>
            <th></th>
            <th scope="col">Car</th>
            <th></th>
            <th scope="col">Information</th>
            <th></th>
            <th scope="col">Accept</th>
            <th></th>
            <th scope="col">Decline</th>
            <th></th>
            <th scope="col">More Details</th>
        </tr>
        </thead>
        {#{% for employee in employees %}#}
        {#<tr>#}
        {#<td>{{ employee.firstname }}</td>#}
        {#<td></td>#}
        {#<td>{{employee.lastname}}</td>#}
        {#<td></td>#}
        {#<td>{{employee.email}}</td>#}
        {#<td></td>#}
        {#<td>{{employee.position}}</td>#}
        {#</tr>#}
        {#{% endfor %}#}
    </table>
{% endblock %}