{% extends 'base.html.twig' %}

{% block body %}

    <h2>Jobs</h2>
    <table class="table" align="center">
        <thead class="thead-dark">
        <tr style="border-bottom: 3px solid #ddd;">
            <th scope="col">Pavadinimas</th>
            <th></th>
            <th scope="col">Kaina</th>
            <th></th>
            <th scope="col">Phone Number</th>
            <th></th>
            <th scope="col">Trukmė</th>
            <th></th>
            <th scope="col">Aprašymas</th>
        </tr>
        </thead>
    </table>
    <button id="log_reg_employee"><a href="{{ path('addJobs') }}">AddJobs</a></button>
{% endblock %}