<!DOCTYPE html>
<html>
<head>
    <title></title>

</head>
<body>

<header>
    <nav>
        <div class="main-wrapper">
            <ul>
                <li><a href="{{ path('homepage') }}">Pagrindinis</a></li>
            </ul>
            <div class="nav-login">
                <a href="{{ path('login') }}">Prisijungti</a>
                </form>
                <a href="{{ path('signup') }}">Registruotis</a>
            </div>
        </div>
    </nav>
</header>