{% extends 'base.html.twig' %}

{% block body %}

    <h2 xmlns="http://www.w3.org/1999/html">Skundai</h2>
    <table align="center">
        <tr style="border-bottom: 3px solid #ddd;">
            <th width="120px">ID</th>
            <th></th>
            <th width="200px">Sukūrimo data</th>
            <th></th>
            <th width="200px">Aprašymas</th>
            <th></th>
            <th width="200px">Kliento numeris</th>
            <th></th>
            <th width="200px">Darbuotojo numeris</th>
            <th></th>
            <th></th>
            {#<th width="200px">Company FeedBack score</th>#}
            {#<th></th>#}

    </table>

{% endblock %}