{% extends 'base.html.twig' %}

{% block body %}
    <table style="width: 70%">
        <tr>
            <th style="width:250px">Car</th>
            <th style="width:250px">Autoservice</th>
        </tr>
        <tr>
            <td>Car info</td>
            <td>Autoservice info</td>
        </tr>
    </table>
    <label>Do you want to decline this reservation?</label>
    <table style="width: 70%">
        <tr>
            <button class="btn btn-sm"style="background-color:green;">Yes</button>
            <button class="btn btn-sm"style="background-color:red;">No</button>
        </tr>
    </table>
{% endblock %}